*{
    margin: 0; padding: 0;
    box-sizing: border-box;
}
body{
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.logo{
font-size: 50px;
color: rgb(55, 66, 212);

}
.container{
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    background-color: rgb(223, 231, 238);
    padding: 15px;
    border-radius: 7px;
    box-shadow: 0px 0px 20px 1px;
}

input[type="text"],input[type="password"],input[type="Email"]
{
    font-size: 25px;
    border: 1px solid lightgray;
    outline: none;
    padding: 8px;
    margin: 10px; 
    width: 330px;
    border-radius: 6px;

}
input:focus{
    border: 1px solid orangered;
}
button[type="submit"] {
    background: rgb(80, 69, 235);
    border: none;
    font-size: 20px;
    padding: 8px;
    cursor: pointer;
    color:floralwhite;
    border-radius: 6px;
    
}
label{
    padding: 5px;
    cursor: pointer;   

}
#new {
    border: none;
    background: floralwhite;
    cursor: pointer;
}
#new:hover{
    color: rgb(87, 76, 243);
    text-decoration: underline;

}


